@tailwind base;
@tailwind components;
@tailwind utilities;
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  caret-color: #ffffff !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 9999s ease-in-out 0s;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
  appearance: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-clear-button {
  display: none !important;
  appearance: none;
}

@keyframes gradientMove {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.bg-animated-gradient {
  background: linear-gradient(135deg, #0f172a, #2d3a8c, #7c3aed);
  background-size: 200% 200%;
  animation: gradientMove 8s ease-in-out infinite;
}
@keyframes gradientMove {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
